.c-profile {
    border: 1px solid red;
    width: max-content;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.name-user,
.name-nationality  {
    width: 100%;
    text-align: center;
}

.name-user {
    font-weight: 300;
}
.name-nationality {
    
    font-weight: 500;
}