.c-profile {
    width: max-content;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.name-user,
.name-nationality  {
    width: 100%;
    text-align: center;
}

.name-user {
    font-weight: 300;
}
.name-nationality {
    color: var(--contrast);
    font-weight: 500;
}