@import "../../styles/index.scss";

.link-details {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-details-text{
    font-size: 1rem;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    @include font_color--gradient(var(--purple-gradient))
}

.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    background-color: var(--dark);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.btn-deatils {
    @include neumorphism_A;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--gradient-mid-purple);
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-details-disable {
    @include neumorphism_B;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--gradient-mid-purple);
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-deatils:active {
    @include neumorphism_B;
    width: 45px;
    height: 45px;
}