.c-courses-details {
    // display: flex;
    // flex: 2;
    width: 100%;


    border: 1px solid red;
    height: max-content;
    flex-wrap: wrap;


    align-content: center;
    // padding: 10px;
}