.c-summary {
    display: flex;

    width: 100%;
    border: 1px solid red;

    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    height: 300px;
}

.c-rows {
    padding: 10px;
    border: 1px solid green;
    height: 300px;

    display: grid;
    align-items: center;
    align-content: center;

    row-gap: 10px;
}