.c-form {
    display: grid;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.c-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.user-input {
    width: 100%;
}