@import "../../styles/index.scss";

.c-modal {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 500px;
    height: 500px;

    border-radius: 15px;
    @include  glass_effect();
}

.c-btn-close {
    position: absolute;
    top: 10%;
    right: 10%;

    width: 70px;
    height: 70px;
    border-radius: 10px;

    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close {
    z-index: 1;
    @include neumorphism_A;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.btn-close:active {
    @include neumorphism_B;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-course-name-title {
    font-size: 1.5rem;
    color: var(--contrast);
}

.modal-content {
    z-index: 0;
    padding: 50px;
    position: relative;
    gap: 30px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    text-align: center;
    font-weight: bold;
}

.enrolled-students {
    font-weight: lighter;
}