.c-info-user {
    width: 100%;
    border: 1px solid red;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-badge {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    border: 1px solid blue;
    cursor: pointer;
}
.c-badge > button:active {
    background-color: red;
}