
@mixin neumorphism_A() {
	background: linear-gradient(145deg, #1a1a1a, #161616);
	box-shadow: 4px 4px 9px #0a0a0a, -4px -4px 9px #262626;
}
@mixin neumorphism_B() {
	background: #181818;
	box-shadow: inset 4px 4px 9px #0a0a0a, inset -4px -4px 9px #262626;
}

@mixin glass_effect() {
	background: rgba(2, 25, 36, 0.65);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 10px;
	border: 1px solid rgba(105, 188, 255, 0.125);
}

@mixin text_style($size, $color) {
	font-family: var(--font-raleway);
	color: $color;
	@if $size == h1 {
		font-size: var(--font-size-l);
		font-weight: 400;
	} @else if $size == h2 {
		font-size: var(--font-size-m);
	} @else if $size == h3 {
		font-size: var(--font-size-s);
		font-weight: 400;
	} @else if $size == p {
		font-size: var(--font-size-xs);
		font-weight: 400;
	}
}
@mixin font_color--gradient($gradient) {
	font-family: var(--font-roboto);
	text-shadow: var(--text-shadow);
	font-size: max(12px, min(var(--font-size-xl), 27vw));
	@if $gradient == gradient_purple {
		color: var(--primary);
		background: var(--purple-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	} @else if $gradient == gradient_blue {
		color: var(--complementary);
		background: var(--blue-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@mixin shiny_border($color){
	transition: box-shadow 350ms;
	border: 1px double $color;
	box-shadow: var(--box-shadow-soft);
	&:hover {
		box-shadow: var(--box-shadow-hard);
	}
}