.c-summary-credits {
    display: flex;
    width: 66%;
    flex: 1;

    border: 1px solid red;
    height: max-content;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    row-gap: 20px;
}

.c-info-credits, 
.c-info-courses,
.courses-title {
    border: 1px solid blue;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

.credits-title,
.courses-title {
    color: var(--complementary-hover);
}
.credits-title > span {
    color: var(--alert);
}

.c-info-courses > h2 {
    font-size: 2rem;
}
