@import "../../styles/index.scss";

.c-summary-credits {
    display: flex;
    flex: 1;

    height: 80%;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    margin-right: 10px;

    flex-wrap: wrap;
    row-gap: 20px;
    min-width: 230px;

    background: var(--dark);
    box-shadow: 0px 10px 15px 11px rgba(0, 0, 0, 0.5);
}

.c-info-credits, 
.c-info-courses,
.courses-title {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

.credits-title,
.courses-title {
    color: var(--complementary-hover);
}
.credits-title > span {
    color: var(--alert);
}

.c-info-courses > h2 {
    font-size: 2rem;
}
